@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%; /* Dark Slate Gray */
    --foreground: 240 5% 65%; /* Lighter Gray */

    --card: 240 10% 3.9%;
    --card-foreground: 240 5% 95%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 240 5% 95%;

    --primary: 210 40% 98%; 
    --primary-foreground: 210 40% 9.8%;

    --secondary: 240 5% 15%;
    --secondary-foreground: 240 5% 98%;

    --muted: 240 5% 15%;
    --muted-foreground: 240 5% 65%;

    --accent: 240 5% 15%;
    --accent-foreground: 240 5% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --border: 240 5% 15%;
    --input: 240 5% 15%;
    --ring: 210 40% 98%;
    
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 240 5% 65%;

    --card: 240 10% 3.9%;
    --card-foreground: 240 5% 95%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 240 5% 95%;

    --primary: 210 40% 98%;
    --primary-foreground: 210 40% 9.8%;

    --secondary: 240 5% 15%;
    --secondary-foreground: 240 5% 98%;

    --muted: 240 5% 15%;
    --muted-foreground: 240 5% 65%;

    --accent: 240 5% 15%;
    --accent-foreground: 240 5% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --border: 240 5% 15%;
    --input: 240 5% 15%;
    --ring: 210 40% 98%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-background text-foreground;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  a {
    @apply text-black hover:underline;
  }
  h1, h2, h3 {
    @apply font-semibold;
  }
}
